* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-position: linear;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
